fastapi
uvicorn
motor
python-dotenv
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
apify-client
python-multipart
requests
google-auth-oauthlib
google-auth
python-jose[cryptography]
passlib[bcrypt]
python-multipart
openai
hdbscan
numpy
torch
transformers
scikit-learn
imbalanced-learn
joblib
matplotlib
seaborn
pymongo
pulp